html {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	color: #1d1d1d;
}

body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	color: #1d1d1d;
}

.header {
	background-color: #3f3f3f;
	height: 64px;
	position: relative;
	vertical-align: middle;
	width: 100vw;
}

.header-right a.icon {
	display: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 756px) {
  .header-right a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .header-right a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 756px) {
  .header-right.responsive {position: relative;}
  .header-right.responsive .icon {
	position: block;
    right: 0;
    top: 0;
  }
  .header-right.responsive a {
    float: right;
    display: block;
    text-align: left;
  }
  .header-right.responsive .dropdown {float: none;}
  .header-right.responsive .dropdown-content {position: relative;}
  .header-right.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.header-right a {
	text-transform: uppercase;
	float: left;
	text-align: center;
	padding: 19.5px;
	padding-left: 24px;
	padding-right: 24px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	color: #aaaaaa;
}

.header-right a:hover {
	color: #eeeeee;
	text-decoration: none; 
}

.header-right {
	float: right;
}

.header-text {
	float: left;
	font-family: 'Courier New', Courier, monospace;
	color: azure;
	text-align: center;
	display: flex;
	align-items: center;
	font-weight: 800;
	font-size: 32px;
	text-align: center;
	text-decoration: none;
	line-height: 32px;
	padding: 19.5px; 
	padding-left: 24px;
	padding-right: 24px;
	text-decoration: none;
}

footer {
	background-color: rgb(235, 235, 235);
	color: #353535;
	padding-top: 8px;
	margin-top: 8px;
	border-top: solid 4px rgb(245, 245, 245);
	font-size: 1rem;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	position: static;
}

a {
	color: #0060af;
	text-decoration: none;
}

h1 a {
	color: #0060af;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer h4.copyright {
	color: #353535;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	padding-bottom: 2%;
}

.tile {
    background-color: #c7c7c7;
    box-shadow: 0px 0px 16px #c7c7c7;
    display: flex;
    text-align: left;
    width: 100vw - 8px;
	border-radius: 8px;
	float: left;
	clear: both;
	margin-bottom: 16px;
	margin-top: 16px;
	min-height: 128px;
}

.tile h1 a {
	float: left;
	margin-right: 16px;
	margin-bottom: 0px;
}

.tile p {
	float: left;
	display: block;
}

img.tile {
	float: left;
	width: 128px;
	height: 128px;
	padding-top: -8px;
	padding-right: 32px;
	margin: 0px;
	margin-top: -16px;
}

@media (prefers-color-scheme: dark) {
	html {
		scrollbar-color: #332f33 #232323;
		background-color: #332f33;
	}

	body {
		background-color: #332f33;
		color: #cecece;
	}

	.header {
		background-color: #232323;
	}

	.header-right a {
		color: #b3adb3;
	}
	
	.header-right a:hover {
		color: rgb(230, 230, 230);
		text-decoration: none;
	}

	a {
		color: #3366ff;
	}

	h1 a {
		color: #3366ff;
		text-decoration: none;
	}

	footer {
		background-color: rgb(48, 48, 48);
		color: #b3adb3;
		border-top: solid 4px rgb(55, 55, 55);
    }
    
	footer h4.copyright {
		color: #b3adb3;
	}


	.tile {
    	background-color: #484848;
    	box-shadow: 0px 0px 16px #484848;
	}
}
