<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <meta charset="utf-8">
<!--    <link rel="stylesheet" href="/assets/css/index.css">-->
    <link rel="stylesheet" href="/assets/redist/bulma.css">

    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-132845008-1', 'auto');
      ga('send', 'pageview');
      </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  
    <meta name="robots" content="index,follow"/>
    <meta name="language" content="English">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.description}}"/>
    <meta name="keywords" content="marcus8448, GamemodeOverhaul"/>
    <meta name="author" content="marcus8448" />
    <meta name="copyright" content="Copyright marcus8448" />
    <meta property="og:title" content="marcus8448 - {{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta name="color-scheme" content="dark light">
    <link rel="icon" href="/favicon.ico" />
    <title>marcus8448 - {{page.title}}</title>
  </head>
  
  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://github.com/marcus8448/">
        <img src="https://marcus8448.github.io/assets/images/marcus8448.png"><!--width="112" height="28"-->
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="basicNavbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="basicNavbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

        <a class="navbar-item" href="/blog/">
          Blog
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/projects/">
            Projects
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/projects/Galacticraft-Rewoven/">
              Galacticraft: Rewoven
            </a>
            <a class="navbar-item" href="/projects/GamemodeOverhaul/">
              GamemodeOverhaul
            </a>
            <a class="navbar-item" href="/projects/Project-ILE/">
              Project-ILE
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/projects/Other/">
              Other
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="navbar-item" href="/about/">
              About
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
    <div style="margin-left: 16px;">
      {{ content }}
  	</div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>marcus8448.github.io</strong> by <a href="https://github.com/marcus8448/">marcus8448</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
