<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <meta charset="utf-8">
    <style> html{visibility: hidden;} html, body { height: 100%; } body { display: flex; flex-direction: column; } .content { flex: 1 0 auto; } .footer { flex-shrink: 0; }</style>
    <link rel="stylesheet" href="/assets/redist/bulma.css">
    <link rel="stylesheet" href="/assets/redist/prism.css" />
    <meta name="robots" content="index,follow"/>
    <meta name="language" content="English">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.description}}"/>
    <meta name="keywords" content="marcus8448"/>
    <meta name="author" content="marcus8448" />
    <meta name="copyright" content="Copyright marcus8448" />
    <meta property="og:title" content="marcus8448 | {{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta name="color-scheme" content="dark light">
    <link rel="icon" href="/favicon.ico" />
    <title>marcus8448 - {{page.title}}</title>
    <style> html{visibility: visible;} </style>
  </head>
  <body class="has-navbar-fixed-top">
  <nav class="navbar is-fixed-top is-info has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/images/marcus8448.png" alt="marcus8448">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="top-nav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="top-nav" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

        <a class="navbar-item" href="/blog/">
          Blog
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            Projects
          </div>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/projects/">
              Index
            </a>
            <hr class="navbar-divider">
            {% for project in site.projects %}
              <a class="navbar-item" href="/projects/{{ project.url }}/">
                {{ project.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="/about/">
          About
        </a>
      </div>
    </div>
  </nav>
    <div class="content mx-4">
      <h1 class="title is-1 pt-2">{{ page.title }}</h1>
      {{ content }}
  	</div>

    <footer class="footer has-background-white-ter">
      <div class="content has-text-centered">
        <p>
          <strong>marcus8448.github.io</strong> by <a href="https://github.com/marcus8448/">marcus8448</a>. The source code is licensed
          <a href="https://opensource.org/licenses/GPL-3.0">GPL-3.0-or-later</a>. The website content
          is licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
  <script src="/assets/redist/prism.js"></script>
  <script async type="text/javascript" src="/assets/redist/nav.js"></script>
  </body>
</html>
