<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <title>marcus8448</title>
    <link rel="icon" href="https://marcus8448.github.io/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="marcus8448">
    <meta property="og:description"
      content="My website thing">
    <meta property="og:url" content="https://marcus8448.github.io/">  
    <link rel="stylesheet" href="https://marcus8448.github.io/assets/css/index.css">
  </head>
  
  <body>
    <div class="header">
      <img src="https://marcus8448.github.io/assets/images/marcus8448.png" alt="marcus8448"
      class="d-inline-block align-top">
      <div class="header-right">
        <a href="https://marcus8448.github.io/">Home</a>
        <a href="https://marcus8448.github.io/projects/">Projects</a>
        <a href="https://marcus8448.github.io/about/">About</a>
      </div>
    </div>

    <div style="margin-left: 16px;">
      {{ content }}
	</div>

    <footer class="footer">
      <h4 class="copyright">
        Copyright (c) marcus8448 2020. All Rights Reserved
      </h4>
    </footer>
  </body>
</html>
